extends layout

block content
  h1= title
    button#start Start

  nav#top-cards
    section
      h3 Super-Villains

      div#super-villains-output

    section
      h3 Kick
      div Cost: 3
      button#take-kick Draw

    section
      h3 Weakness
      button#take-kick Draw

    section
      h3 Deck
      button#take-kick Draw

    section
      h3 Trash

  h3 Line-up
  div#lineup-output

  div#players-output

  script(id="super-villains-template", type="text/x-handlerbars").
    <ul>
    {{#each villains}}
      <li>{{this.name}}</li>
    {{/each}}
    </ul>

  script(id="lineup-template", type="text/x-handlebars").
    {{#each cards}}
    <section>
      <div class="card">
        {{this.name}}
        <div class="description">{{this.description}}</div>
        <div>Power:{{this.power}}</div>
        <div>Cost:{{this.cost}}</div>
        <div>VP:{{this.vp}}</div>
      </div>
      <input card="{{this._id}}" type="button" value="Buy" />
    </section>
    {{/each}}

  script(id="players-template", type="text/x-handlebars").
    {{#each players}}
      <nav class="player-cards">
        <section>
          <h3>Superhero</h3>
          <div>{{this.superhero.0.name}}</div>
          <p><em>{{this.superhero.0.description}}</em></p>
        </section>
        <section>
          <h3>Discard</h3>
        </section>
        <section>
          <h3>Deck</h3>
        </section>
        <section class="hand">
          <h3>Hand - {{this.name}} {{#if this.is_turn }}(<em>current turn</em>){{/if}}</h3>
          <div class="hand">
          {{#each this.hand}}
            <div class="card">{{this.name}}</div>
          {{/each}}
          </div>
        </section>
      </nav>
    {{/each}}
