extends layout

block content
  h1= title
    button#start Start

  nav#top-cards
    section
      h3 Super-Villains

      div#super-villains-output

    section
      h3 Kick
      button#take-kick Draw

    section
      h3 Weakness
      button#take-kick Draw

    section
      h3 Deck
      button#take-kick Draw

    section
      h3 Trash

  h3 Line-up

  each player, i in players
    nav.player-cards
      section
        h3 Superhero
        div(id="superhero-output-#{i}")

      section
        h3 Discard

      section
        h3 Deck

      section.hand
        h3 Hand - #{player}
        div.hand
          div(id="hand-output-#{i}")


  <script id="super-villains-template" type="text/x-handlerbars">
  <ul>
  {{#each villains}}
  <li>{{this.name}}</li>
  {{/each}}
  </ul>
  </script>

  <script id="superhero-template" type="text/x-handlerbars">
  {{#with superhero}}
  <div>{{name}}</div>
  <p><em>{{description}}</em></p>
  {{/with}}
  </script>

  <script id="hand-template" type="text/x-handlerbars">
  {{#each cards}}
  <div class="card">{{this.name}}</div>
  {{/each}}
  </script>
