extends layout

block content
  h1= title
    button#start Start

  nav#top-cards
    section
      h3 Super-Villains

      div#super-villains-output

    section
      h3 Kick
      div Cost: 3
      button#take-kick Draw

    section
      h3 Weakness
      button#take-kick Draw

    section
      h3 Deck
      button#take-kick Draw

    section
      h3 Trash

  h3 Line-up 
    span.lineup-msg
  div#lineup-output

  div#players-output

  script(id="super-villains-template", type="text/x-handlerbars").
    {{#if villain}}
      {{#with villain}}
    <div>{{this.name}}</div>
    <input class="super-villain" card="{{this._id}}" type="button" value="Defeat" />
      {{/with}}
    {{else}}
      <em>Game Over!  All Super-Villains have been defeated!</em>
    {{/if}}

  script(id="lineup-template", type="text/x-handlebars").
    {{#each cards}}
    <section>
      <div class="card">
        <div class="name">{{this.name}}</div>
        <div class="middle">
          <div>Power:{{this.power}}</div>
          <div class="description">{{this.description}}</div>
        </div>
        <div class="bottom">
          <div class="vp">VP:{{this.vp}}</div>
          <div class="cost">Cost:{{this.cost}}</div>
        </div>
      </div>
      <input class="buy" card="{{this._id}}" type="button" value="Buy" />
    </section>
    {{/each}}

  script(id="players-template", type="text/x-handlebars").
    {{#each players}}
      <nav class="player-cards">
        <section>
          <h3>Superhero</h3>
          <div>{{this.superhero.0.name}}</div>
          <p><em>{{this.superhero.0.description}}</em></p>
        </section>
        <section>
          <h3>Discard</h3>
        </section>
        <section>
          <h3>Deck</h3>
          {{#if this.is_turn}}
          <input class="end-turn" player="{{this._id}}" type="button" value="End Turn" />
          {{/if}}
        </section>
        <section class="hand">
          <h3>Hand - {{this.name}} {{#if this.is_turn }}(<em>current turn</em>){{/if}}</h3>
          <div class="hand">
          {{#each this.hand}}
          <div class="card">
            <div class="name">{{this.name}}</div>
            <div class="middle">
              <div>Power:{{this.power}}</div>
              <div class="description">{{this.description}}</div>
            </div>
            <div class="bottom">
              <div class="vp">VP:{{this.vp}}</div>
              <div class="cost">Cost:{{this.cost}}</div>
            </div>
          </div>
          {{/each}}
          </div>
        </section>
      </nav>
    {{/each}}
