body {
  padding: 0 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

button#start {
  margin-left: 5em;
}

nav#top-cards, nav.player-cards {
  overflow: auto;
}

nav#top-cards section {
  float: left;
  width: 15em;
}

nav.player-cards section {
  float: left;
  width: 10em;
}

nav.player-cards section.hand {
  width: auto;
}

div.hand {
  overflow: auto;
}

div.hand div.card {
  border: 1px solid black;
  float: left;
  height: 10em;
  margin-right: 1em;
  padding: 0.2em;
  width: 8em;
}
